<div class="customize-articles-page">
  <h2>Customize Your Article</h2>

  <div class="custom-widgets">
      <h3>Insert Code Block</h3>
      <button id="insert-code-block" class="custom-widget-button">Insert Code Block</button>

      <h3>Insert Terminal Block</h3>
      <button id="insert-terminal-block" class="custom-widget-button">Insert Terminal Block</button>
  </div>
</div>
