/***** Tables *****/
.table {
  @include tablet { table-layout: auto; }

  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;

  th,
  th a {
    color: $secondary-text-color;
    font-size: $font-size-small;
    text-align: left;

    [dir="rtl"] & { text-align: right; }
  }

  tr {
    @include tablet { display: table-row; }

    border-bottom: 1px solid $low-contrast-border-color;
    display: block;
    padding: 20px 0;
  }

  td {
    @include tablet {
      display: table-cell;
    }

    display: block;
  }

  td, th {
    @include desktop {
      padding: 20px 30px;
    }
    @include tablet {
      padding: 10px 20px;
      height: 60px;
    }
  }
}

/***** Custom Table Styling for Code Blocks or Other Insertions *****/
.custom-table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #f9f9f9;

  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  td {
    background-color: #fff;
  }

  /* Responsive table styling */
  @media (max-width: 768px) {
    .custom-table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}
